<div id="<%= dom_id contactu %>">
  <p>
    <strong>Name:</strong>
    <%= contactu.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contactu.email %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= contactu.subject %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= contactu.message %>
  </p>

</div>
