<div class="container-fluid pt-5">
  <div class="container">
    <div class="text-center pb-2">
      <p class="section-title px-5">
        <span class="px-2">Get In Touch</span>
      </p>
      <h1 class="mb-4">Contact Us For Any Query</h1>
    </div>
    <div class="row">
      <div class="col-lg-7 mb-5">
        <div class="contact-form">
          <div id="success"></div>
          <%= form_with(model: contactu) do |form| %>
            <% if contactu.errors.any? %>
              <div style="color: red">
                <h2><%= pluralize(contactu.errors.count, "error") %> prohibited this contactu from being saved:</h2>

                <ul>
                  <% contactu.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="control-group">
              <%= form.text_field :name, class:"form-control" , placeholder: true%>
              <p class="help-block text-danger"></p>
            </div>

            <div class="control-group">
              <%= form.text_field :email, class:"form-control", placeholder: true %>
              <p class="help-block text-danger"></p>
            </div>

            <div class="control-group">
              <%= form.text_field :subject,class:"form-control" , placeholder: true%>
              <p class="help-block text-danger"></p>
            </div>

            <div class="control-group">
              <%= form.text_area :message , class:"form-control", placeholder: true  %>
              <p class="help-block text-danger"></p>
            </div>

            <div>
              <%= form.submit 'Send Message', :class => "btn btn-primary py-2 px-4"%>

            </div>
          <% end %>
        </div>
      </div>
      <div class="col-lg-5 mb-5">
        <p>
          Labore sea amet kasd diam justo amet ut vero justo. Ipsum ut et
          kasd duo sit, ipsum sea et erat est dolore, magna ipsum et magna
          elitr. Accusam accusam lorem magna, eos et sed eirmod dolor est
          eirmod eirmod amet.
        </p>
        <div class="d-flex">
          <i
            class="fa fa-map-marker-alt d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
            style="width: 45px; height: 45px"
          ></i>
          <div class="pl-3">
            <h5>Address</h5>
            <p>123 Street, New York, USA</p>
          </div>
        </div>
        <div class="d-flex">
          <i
            class="fa fa-envelope d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
            style="width: 45px; height: 45px"
          ></i>
          <div class="pl-3">
            <h5>Email</h5>
            <p>info@example.com</p>
          </div>
        </div>
        <div class="d-flex">
          <i
            class="fa fa-phone-alt d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
            style="width: 45px; height: 45px"
          ></i>
          <div class="pl-3">
            <h5>Phone</h5>
            <p>+012 345 67890</p>
          </div>
        </div>
        <div class="d-flex">
          <i
            class="far fa-clock d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"
            style="width: 45px; height: 45px"
          ></i>
          <div class="pl-3">
            <h5>Opening Hours</h5>
            <strong>Sunday - Friday:</strong>
            <p class="m-0">08:00 AM - 05:00 PM</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
